# Virtual Environment
.venv/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Extracted image folders & temporary uploads
extracted_*
temp_*

# Generated PDFs and SQLite DB
clean_*
audit_report_*
graphshield.db